/CelsiusFahrenheit.class
/CheckerboardKarel.class
/Circles.class
/CollectNewspaperKarel.class
/Doublemath.class
/HangingChad.class
/HelloWorld.class
/ImperialtoMetric.class
/Interest.class
/MetricEnglishWeights.class
/MidpointFindingKarel.class
/NurseryRhyme.class
/PhantomTollBooth.class
/RectCheckerboard.class
/Snowman.class
/StoneMasonKarel.class
/Calendar.class
/CheckerBoard.class
/Fibonacci.class
/BeerSong.class
/ThisOldMan.class
/nOddIntegers.class
/sixOrSeven.class
/AverageList.class
/DigitsReverse.class
/whileCountdown.class
/CheckboardCircles.class
/GoldenRatio.class
/QuadraticEquation.class
/raiseIntToPower.class
/raiseToRealPower.class
/nDigits.class
/perfectSquare.class
/sqaureRootTest.class
/questionYesNo.class
/pascalTriangle.class
/prime.class
/perfectNumbers.class
/rightHandAlgorithm.class
/craps.class
/Craps.class
/Pyramid.class
/karelBorder.class
/betterKarelBorder.class
/simpleJavaExpressions.class
/integerSpecialValues.class
/frogger.class
